*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;

}

#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 5px rgb(255, 255, 255);
    max-width: 100%;
    max-height: 100%;

}

#playerImage{
    display: none;

}
#backgroundImage {
    display: none;
}

#enemyImage{
    display: none;
}
#fullScreenButton {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
       
}
/*#rightButton {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    bottom: 5px;
    left: 155px;
    transform: translate(-50%, -50%);

}
#leftButton {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    bottom: 5px;
    left: 95px;
    transform: translate(-50%, -50%);

}*/
